
<ion-header>

  <ion-navbar>
    <ion-title>{{ user?.nombre }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <button ion-item (click)="editarPerfil()">
    Editar perfil
  </button>
  <button ion-item (click)="cambiarContrasena()">
    Cambiar contraseña
  </button>
  <button ion-item (click)="compras()">
    Compras
  </button>

  <button ion-button full color="danger" (click)="salir()">Salir</button>

</ion-content>