page-chat {

}
$color3: #072bb9;
$color2: #aef1a2;

.input-style {
    border-radius: 5px;
    height: 100%;
}

.svg-send {
    height: 30px;
    width: 30px;

    & path {
        fill: $color3;
    }
}

.svg-chat {
    width: 30px;
    height: 30px;
}

.btn-send {
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.list-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-list-msg {
    padding-left: 25% !important;
    flex-flow: flex-end;

    &.active {
        padding-left: 16px !important;
        width: 70% !important;

        & .meesage-item {
            background-color:  $color2;
            color: white;
        }
    }

    & ion-label {
        white-space: initial !important;
    }

    & .item-inner {
        align-items: flex-start !important;
    }

    & ion-avatar {
        padding-top: 2px;
    }
}

.meesage-item {    
    border-radius: 5px;
    padding: 8px 7px 25px 7px;
    background-color:  $color3;
    color: white;
}

.text-message {
    width:100%;
}