page-compras {

}

$shadow-default: 0 2px 15px 0 rgba(31, 35, 46, 0.168);

$colorkey: random(5);

$list: #f7992e, #f38b65, #d2f0e7, #1da48b, #2e1ca4, #68dca8;
$nth: nth($list, $colorkey);

.item-compras {
    height: 90px;
    margin-bottom: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: $shadow-default;
    background-color: white;
    display: flex;
    

    &-left {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-item {
            display: flex;
            flex-direction: column;

            & span:first-child {
                color: rgb(164, 164, 164);
                font-size: 16px;
                margin-bottom: 2px;
            }

            & span:last-child {
                color: rgb(66, 66, 66);
                font-size: 12px;
            }
        }

        &-item:last-child {
            flex-direction: row;
            display: flex;
            align-items: center;
            
            & svg {
                margin-right: 8px;
            }
        }
    }

    &-right {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        & span:first-child {
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }

        & span:last-child {
            font-size: 18px;
            //align-self: flex-end;
            font-weight: 700;
            color: rgb(50, 50, 50);
            margin-bottom: 8px;
        }
    }


}


.svg-lista-by {
    height: 30px;
}

.estado {
    font-weight: 700;
    border-radius: 3px;
    padding: 5px;
    color: white;
    font-size: 15px;
}

.estado-1 {
    background-color: #59e4af;    
}

.estado-2 {
    background-color: #fc50dd;
}

.estado-3 {
    background-color: #0d3ea6;    
}

.estado-4 {
    background-color: #dde034;
}

.estado-5 {
    background-color: #3b2db8;    
}


.ion-spinner * {
    width: 50px;
    height: 50px;
    stroke: #444;
    fill: #222;
  } 