<ion-header>

  <ion-navbar>
    <ion-title>Detalle usuario</ion-title>

    <ion-buttons end >
      <button [disabled]="!email || !nombres || !apellidos || !fecha" style="background-color:transparent;">
        <a  style="color: #0441d0;text-decoration:none;font-size:15.5px;" (click)="actualizarUsuario()" href="#">Guardar</a>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>
<!--
    <ion-grid align-items-center>
        <ion-row>
          <ion-col col-12 align-self-center style="display:flex;justify-content:center;align-items:center;flex-direction:column;">
            <ion-img style="width: 80px; height: 80px;margin-bottom:5px;" [src]="usuario.imagen" (click)="presentActionSheet()"></ion-img>
            <a (click)="presentActionSheet()">Cambiar</a>
          </ion-col>
        </ion-row>
    </ion-grid>
  -->
  <ion-item>
    <ion-input [(ngModel)]="email" type="email" placeholder="Correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="nombres" type="text" placeholder="Nombres"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="apellidos" type="text" placeholder="Apellidos"></ion-input>
  </ion-item>

  <ion-item>
    <ion-datetime placeholder="Fecha de nacimiento" displayFormat="MM/DD/YYYY" [(ngModel)]="fecha"></ion-datetime>
  </ion-item>
</ion-content>