<ion-header>

  <ion-navbar>
    <ion-title>Inciar sesión</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="email" type="email" placeholder="Correo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="pass" type="password" placeholder="Contraseña"></ion-input>
  </ion-item>


  <button class="btn-default btn-1 btn-main" (click)="iniciarSesion()" [disabled]="!email || !pass" ion-button full>Iniciar sesión</button>
  <span>{{ errorMessage }}</span>
</ion-content>

<ion-footer no-border >
    <ion-toolbar class="toolbar-bottom">
      <div class="button-list">
        <button class="btn-default btn-1 btn-szie" (click)="verificarCuenta()" ion-button full>Verificar cuenta</button>
        <button class="btn-default btn-2 btn-szie"   (click)="creaCuenta()" ion-button full>Crear una cuenta</button>
      </div>
    </ion-toolbar>
  </ion-footer>