<ion-header>

	<ion-navbar>
		<ion-title>Metodo de pago</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<div class="box-total">
		<span class="box-total-total">{{ total }}</span>
		<span class="box-total-cantidad">Ahorraste {{ ahorro }}</span>
	</div>
		

	<div class="title-secction">Tipo de pago</div>
		
	<div class="metod-pay">
		<div class="metod-pay-item">
			Credito o debito

			<svg class="svg-item credit-card" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			 x="0px" y="0px" viewBox="0 0 504.124 504.124" style="enable-background:new 0 0 504.124 504.124;" xml:space="preserve">
				<path style="fill:#EFEFEF;" d="M23.631,98.462h456.862c12.997,0,23.631,10.634,23.631,23.631v259.938c0,12.997-10.634,23.631-23.631,23.631H23.631C10.634,405.662,0,395.028,0,382.031V122.092C0,109.095,10.634,98.462,23.631,98.462z"
				/>
				<path style="fill:#CCD0D2;" d="M441.108,169.354H283.569c-8.665,0-15.754,7.089-15.754,15.754v23.631c0,8.665,7.089,15.754,15.754,15.754h157.538c8.665,0,15.754-7.089,15.754-15.754v-23.631C456.862,176.443,449.772,169.354,441.108,169.354z M220.554,169.354H63.015c-8.665,0-15.754,7.089-15.754,15.754v23.631c0,8.665,7.089,15.754,15.754,15.754h157.538c8.665,0,15.754-7.089,15.754-15.754v-23.631C236.308,176.443,229.218,169.354,220.554,169.354z"
				/>
				<path style="fill:#E2574C;" d="M366.277,271.754c19.692,0,35.446,15.754,35.446,35.446c0,19.692-15.754,35.446-35.446,35.446s-35.446-15.754-35.446-35.446C330.831,287.508,346.585,271.754,366.277,271.754z"
				/>
				<path style="fill:#F4B459;" d="M421.415,271.754c19.692,0,35.446,15.754,35.446,35.446c0,19.692-15.754,35.446-35.446,35.446s-35.446-15.754-35.446-35.446C385.969,287.508,401.723,271.754,421.415,271.754z"
				/>
				<path style="fill:#CCD0D2;" d="M224.492,275.692H59.077c-6.695,0-11.815,5.12-11.815,11.815s5.12,11.815,11.815,11.815h165.415c6.695,0,11.815-5.12,11.815-11.815C236.308,281.206,231.188,275.692,224.492,275.692z M153.6,315.077H59.077c-6.695,0-11.815,5.12-11.815,11.815s5.12,11.815,11.815,11.815H153.6c6.695,0,11.815-5.12,11.815-11.815C165.415,320.591,160.295,315.077,153.6,315.077z"
				/>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
			</svg>
		</div>

		<div class="metod-pay-item disabled">
			Contra entrega
			<svg class="svg-item wallet disabled" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			 x="0px" y="0px" viewBox="0 0 504.123 504.123" style="enable-background:new 0 0 504.123 504.123;" xml:space="preserve">
				<path style="fill:#A86A3F;" d="M39.385,83h393.846c21.662,0,39.385,17.723,39.385,39.385v47.262c0,21.662-17.723,39.385-39.385,39.385H39.385C17.723,209.03,0,191.307,0,169.646v-47.262C0,100.723,17.723,83,39.385,83z"
				/>
				<path style="fill:#3DB39E;" d="M125.637,125.141l246.548-65.378c8.271-2.363,16.935,2.757,19.298,11.028l40.96,151.237c2.363,8.271-2.757,16.935-11.028,19.298L100.431,326.79c-8.271,2.363-16.935-2.757-19.298-11.028L51.2,204.698L125.637,125.141z"
				/>
				<path style="fill:#78CABB;" d="M389.514,217.301l-53.169,14.178c-4.332,1.182-8.665-1.182-9.452-5.514c-1.182-4.332,1.182-8.665,5.514-9.452l45.686-12.209l-24.418-91.372l-45.686,12.209c-4.332,1.182-8.665-1.182-9.452-5.514c-1.182-4.332,1.182-8.665,5.514-9.452l53.169-14.178c4.332-1.182,8.665,1.182,9.452,5.514l28.357,106.338C396.209,212.181,393.846,216.513,389.514,217.301z M168.96,276.772l-53.169,14.178c-4.332,1.182-8.665-1.182-9.452-5.514L77.982,179.098c-1.182-4.332,1.182-8.665,5.514-9.452l53.169-14.178c4.332-1.182,8.665,1.182,9.452,5.514c1.182,4.332-1.182,8.665-5.514,9.452l-45.686,12.209l24.418,91.372l45.686-12.209c4.332-1.182,8.665,1.182,9.452,5.514C175.655,271.258,173.292,275.59,168.96,276.772z"
				/>
				<path style="fill:#5ABEAC;" d="M3.151,180.28C73.255,140.107,262.302,29.436,262.302,29.436c7.483-4.332,17.329-1.969,21.662,5.514l78.769,135.483c4.332,7.483,1.575,16.935-5.908,21.268L68.529,357.116c-7.483,4.332-17.329,1.969-21.662-5.514c0,0-22.055-44.898-44.111-82.708C2.757,180.28,3.151,209.424,3.151,180.28z"
				/>
				<path style="fill:#8CD2C5;" d="M322.56,166.101L267.422,70.79c-2.363-3.938-7.089-5.12-10.634-2.757l-47.655,27.569c-3.938,2.363-5.12,7.089-2.757,10.634c2.363,3.938,7.089,5.12,10.634,2.757l40.96-23.631l47.262,81.92l-40.96,23.631c-3.938,2.363-5.12,7.089-2.757,10.634c2.363,3.938,7.089,5.12,10.634,2.757l47.655-27.569C323.348,174.766,324.923,170.04,322.56,166.101z M113.822,277.56l-40.96,23.631L25.6,219.27l40.96-23.631c3.938-2.363,5.12-7.089,2.757-10.634c-2.363-3.938-7.089-5.12-10.634-2.757l-47.655,27.569c-3.938,2.363-5.12,7.089-2.757,10.634l55.138,95.311c2.363,3.938,7.089,5.12,10.634,2.757l47.655-27.569c3.938-2.363,5.12-7.089,2.757-10.634C122.486,276.772,117.76,275.196,113.822,277.56z M133.908,138.532c-30.326,17.329-40.566,55.926-23.237,86.252c17.723,30.326,55.926,40.566,86.252,23.237s40.566-55.926,23.237-86.252C202.437,131.836,164.234,121.203,133.908,138.532z M322.56,166.101L267.422,70.79c-2.363-3.938-7.089-5.12-10.634-2.757l-47.655,27.569c-3.938,2.363-5.12,7.089-2.757,10.634c2.363,3.938,7.089,5.12,10.634,2.757l40.96-23.631l47.262,81.92l-40.96,23.631c-3.938,2.363-5.12,7.089-2.757,10.634c2.363,3.938,7.089,5.12,10.634,2.757l47.655-27.569C323.348,174.766,324.923,170.04,322.56,166.101z M113.822,277.56l-40.96,23.631L25.6,219.27l40.96-23.631c3.938-2.363,5.12-7.089,2.757-10.634c-2.363-3.938-7.089-5.12-10.634-2.757l-47.655,27.569c-3.938,2.363-5.12,7.089-2.757,10.634l55.138,95.311c2.363,3.938,7.089,5.12,10.634,2.757l47.655-27.569c3.938-2.363,5.12-7.089,2.757-10.634C122.486,276.772,117.76,275.196,113.822,277.56z M133.908,138.532c-30.326,17.329-40.566,55.926-23.237,86.252c17.723,30.326,55.926,40.566,86.252,23.237s40.566-55.926,23.237-86.252C202.437,131.836,164.234,121.203,133.908,138.532z"
				/>
				<path style="fill:#C47E4D;" d="M448.985,476.846h-409.6C17.723,476.846,0,459.123,0,437.461V153.892h448.985c21.662,0,39.385,17.723,39.385,39.385v244.185C488.369,459.123,470.646,476.846,448.985,476.846z M31.508,153.892H0v-31.508C0,139.713,14.178,153.892,31.508,153.892z"
				/>
				<path style="fill:#A86A3F;" d="M488.369,378.384h-63.015c-30.326,0-55.138-24.812-55.138-55.138s24.812-55.138,55.138-55.138h63.015c8.665,0,15.754,7.089,15.754,15.754v78.769C504.123,371.295,497.034,378.384,488.369,378.384z"
				/>
				<path style="fill:#EFC75E;" d="M425.354,291.738c17.329,0,31.508,14.178,31.508,31.508s-14.178,31.508-31.508,31.508c-17.329,0-31.508-14.178-31.508-31.508S408.025,291.738,425.354,291.738z"
				/>
				<path style="fill:#D7B354;" d="M433.231,346.876c-17.329,0-31.508-14.178-31.508-31.508c0-6.695,1.969-12.997,5.514-18.117c-8.271,5.514-13.391,14.966-13.391,25.994c0,17.329,14.178,31.508,31.508,31.508c10.634,0,20.086-5.514,25.994-13.391C446.228,344.907,439.926,346.876,433.231,346.876z"
				/>
				<path style="fill:#B27245;" d="M448.985,461.092h-409.6C17.723,461.092,0,443.369,0,421.707v15.754c0,21.662,17.723,39.385,39.385,39.385h409.6c21.662,0,39.385-17.723,39.385-39.385v-15.754C488.369,443.369,470.646,461.092,448.985,461.092z"
				/>
				<path style="fill:#CA8B5F;" d="M448.985,153.892H31.508C14.178,153.892,0,139.713,0,122.384v15.754c0,17.329,14.178,31.508,31.508,31.508h417.477c21.662,0,39.385,17.723,39.385,39.385v-15.754C488.369,171.615,470.646,153.892,448.985,153.892z"
				/>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
			</svg>
		</div>
	</div>

	<div class="title-secction">Introduce tu tarjeta</div>

	<div class="inputs-credicard">

		<div class="item-input-credicard">
			<ion-item style="padding:0;" [ngClass]="{'whenDontInput': credicard}">
				<ion-label color="primary" stacked>Numero de tarjeta</ion-label>      					
				<ion-input id="input-credi" [(ngModel)]="credicard" type="string" (input)="numerCard($event.target.value)" placeholder="•••• •••• •••• ••••"></ion-input>
			</ion-item>
			<svg *ngIf="credicard.toString().substring(0,1) === '4'" class="svg-item svg-tipo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 504 504" style="enable-background:new 0 0 504 504;" xml:space="preserve"><polygon style="fill:#3C58BF;" points="184.8,324.4 210.4,180.4 250.4,180.4 225.6,324.4 "/><polygon style="fill:#293688;" points="184.8,324.4 217.6,180.4 250.4,180.4 225.6,324.4 "/><path style="fill:#3C58BF;" d="M370.4,182c-8-3.2-20.8-6.4-36.8-6.4c-40,0-68.8,20-68.8,48.8c0,21.6,20,32.8,36,40 s20.8,12,20.8,18.4c0,9.6-12.8,14.4-24,14.4c-16,0-24.8-2.4-38.4-8l-5.6-2.4l-5.6,32.8c9.6,4,27.2,8,45.6,8 c42.4,0,70.4-20,70.4-50.4c0-16.8-10.4-29.6-34.4-40c-14.4-7.2-23.2-11.2-23.2-18.4c0-6.4,7.2-12.8,23.2-12.8 c13.6,0,23.2,2.4,30.4,5.6l4,1.6L370.4,182L370.4,182z"/><path style="fill:#293688;" d="M370.4,182c-8-3.2-20.8-6.4-36.8-6.4c-40,0-61.6,20-61.6,48.8c0,21.6,12.8,32.8,28.8,40 s20.8,12,20.8,18.4c0,9.6-12.8,14.4-24,14.4c-16,0-24.8-2.4-38.4-8l-5.6-2.4l-5.6,32.8c9.6,4,27.2,8,45.6,8 c42.4,0,70.4-20,70.4-50.4c0-16.8-10.4-29.6-34.4-40c-14.4-7.2-23.2-11.2-23.2-18.4c0-6.4,7.2-12.8,23.2-12.8 c13.6,0,23.2,2.4,30.4,5.6l4,1.6L370.4,182L370.4,182z"/><path style="fill:#3C58BF;" d="M439.2,180.4c-9.6,0-16.8,0.8-20.8,10.4l-60,133.6h43.2l8-24h51.2l4.8,24H504l-33.6-144H439.2z M420.8,276.4c2.4-7.2,16-42.4,16-42.4s3.2-8.8,5.6-14.4l2.4,13.6c0,0,8,36,9.6,44h-33.6V276.4z"/><path style="fill:#293688;" d="M448.8,180.4c-9.6,0-16.8,0.8-20.8,10.4l-69.6,133.6h43.2l8-24h51.2l4.8,24H504l-33.6-144H448.8z M420.8,276.4c3.2-8,16-42.4,16-42.4s3.2-8.8,5.6-14.4l2.4,13.6c0,0,8,36,9.6,44h-33.6V276.4z"/><path style="fill:#3C58BF;" d="M111.2,281.2l-4-20.8c-7.2-24-30.4-50.4-56-63.2l36,128h43.2l64.8-144H152L111.2,281.2z"/><path style="fill:#293688;" d="M111.2,281.2l-4-20.8c-7.2-24-30.4-50.4-56-63.2l36,128h43.2l64.8-144H160L111.2,281.2z"/><path style="fill:#FFBC00;" d="M0,180.4l7.2,1.6c51.2,12,86.4,42.4,100,78.4l-14.4-68c-2.4-9.6-9.6-12-18.4-12H0z"/><path style="fill:#F7981D;" d="M0,180.4L0,180.4c51.2,12,93.6,43.2,107.2,79.2l-13.6-56.8c-2.4-9.6-10.4-15.2-19.2-15.2L0,180.4z"/><path style="fill:#ED7C00;" d="M0,180.4L0,180.4c51.2,12,93.6,43.2,107.2,79.2l-9.6-31.2c-2.4-9.6-5.6-19.2-16.8-23.2L0,180.4z"/><g><path style="fill:#051244;" d="M151.2,276.4L124,249.2l-12.8,30.4l-3.2-20c-7.2-24-30.4-50.4-56-63.2l36,128h43.2L151.2,276.4z"/><polygon style="fill:#051244;" points="225.6,324.4 191.2,289.2 184.8,324.4 "/><path style="fill:#051244;" d="M317.6,274.8L317.6,274.8c3.2,3.2,4.8,5.6,4,8.8c0,9.6-12.8,14.4-24,14.4c-16,0-24.8-2.4-38.4-8 l-5.6-2.4l-5.6,32.8c9.6,4,27.2,8,45.6,8c25.6,0,46.4-7.2,58.4-20L317.6,274.8z"/><path style="fill:#051244;" d="M364,324.4h37.6l8-24h51.2l4.8,24H504L490.4,266l-48-46.4l2.4,12.8c0,0,8,36,9.6,44h-33.6 c3.2-8,16-42.4,16-42.4s3.2-8.8,5.6-14.4"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
			<svg *ngIf="credicard.toString().substring(0,2) === '5'|| credicard.substring(0,2) === '50'" class="svg-item svg-tipo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 504 504" style="enable-background:new 0 0 504 504;" xml:space="preserve"><path style="fill:#FFB600;" d="M504,252c0,83.2-67.2,151.2-151.2,151.2c-83.2,0-151.2-68-151.2-151.2l0,0 c0-83.2,67.2-151.2,150.4-151.2C436.8,100.8,504,168.8,504,252L504,252z"/><path style="fill:#F7981D;" d="M352.8,100.8c83.2,0,151.2,68,151.2,151.2l0,0c0,83.2-67.2,151.2-151.2,151.2 c-83.2,0-151.2-68-151.2-151.2"/><path style="fill:#FF8500;" d="M352.8,100.8c83.2,0,151.2,68,151.2,151.2l0,0c0,83.2-67.2,151.2-151.2,151.2"/><path style="fill:#FF5050;" d="M149.6,100.8C67.2,101.6,0,168.8,0,252s67.2,151.2,151.2,151.2c39.2,0,74.4-15.2,101.6-39.2l0,0l0,0 c5.6-4.8,10.4-10.4,15.2-16h-31.2c-4-4.8-8-10.4-11.2-15.2h53.6c3.2-4.8,6.4-10.4,8.8-16h-71.2c-2.4-4.8-4.8-10.4-6.4-16h83.2 c4.8-15.2,8-31.2,8-48c0-11.2-1.6-21.6-3.2-32h-92.8c0.8-5.6,2.4-10.4,4-16h83.2c-1.6-5.6-4-11.2-6.4-16H216 c2.4-5.6,5.6-10.4,8.8-16h53.6c-3.2-5.6-7.2-11.2-12-16h-29.6c4.8-5.6,9.6-10.4,15.2-15.2c-26.4-24.8-62.4-39.2-101.6-39.2 C150.4,100.8,150.4,100.8,149.6,100.8z"/><path style="fill:#E52836;" d="M0,252c0,83.2,67.2,151.2,151.2,151.2c39.2,0,74.4-15.2,101.6-39.2l0,0l0,0 c5.6-4.8,10.4-10.4,15.2-16h-31.2c-4-4.8-8-10.4-11.2-15.2h53.6c3.2-4.8,6.4-10.4,8.8-16h-71.2c-2.4-4.8-4.8-10.4-6.4-16h83.2 c4.8-15.2,8-31.2,8-48c0-11.2-1.6-21.6-3.2-32h-92.8c0.8-5.6,2.4-10.4,4-16h83.2c-1.6-5.6-4-11.2-6.4-16H216 c2.4-5.6,5.6-10.4,8.8-16h53.6c-3.2-5.6-7.2-11.2-12-16h-29.6c4.8-5.6,9.6-10.4,15.2-15.2c-26.4-24.8-62.4-39.2-101.6-39.2h-0.8"/><path style="fill:#CB2026;" d="M151.2,403.2c39.2,0,74.4-15.2,101.6-39.2l0,0l0,0c5.6-4.8,10.4-10.4,15.2-16h-31.2 c-4-4.8-8-10.4-11.2-15.2h53.6c3.2-4.8,6.4-10.4,8.8-16h-71.2c-2.4-4.8-4.8-10.4-6.4-16h83.2c4.8-15.2,8-31.2,8-48 c0-11.2-1.6-21.6-3.2-32h-92.8c0.8-5.6,2.4-10.4,4-16h83.2c-1.6-5.6-4-11.2-6.4-16H216c2.4-5.6,5.6-10.4,8.8-16h53.6 c-3.2-5.6-7.2-11.2-12-16h-29.6c4.8-5.6,9.6-10.4,15.2-15.2c-26.4-24.8-62.4-39.2-101.6-39.2h-0.8"/><g><path style="fill:#FFFFFF;" d="M204.8,290.4l2.4-13.6c-0.8,0-2.4,0.8-4,0.8c-5.6,0-6.4-3.2-5.6-4.8l4.8-28h8.8l2.4-15.2h-8l1.6-9.6 h-16c0,0-9.6,52.8-9.6,59.2c0,9.6,5.6,13.6,12.8,13.6C199.2,292.8,203.2,291.2,204.8,290.4z"/><path style="fill:#FFFFFF;" d="M210.4,264.8c0,22.4,15.2,28,28,28c12,0,16.8-2.4,16.8-2.4l3.2-15.2c0,0-8.8,4-16.8,4 c-17.6,0-14.4-12.8-14.4-12.8H260c0,0,2.4-10.4,2.4-14.4c0-10.4-5.6-23.2-23.2-23.2C222.4,227.2,210.4,244.8,210.4,264.8z M238.4,241.6c8.8,0,7.2,10.4,7.2,11.2H228C228,252,229.6,241.6,238.4,241.6z"/><path style="fill:#FFFFFF;" d="M340,290.4l3.2-17.6c0,0-8,4-13.6,4c-11.2,0-16-8.8-16-18.4c0-19.2,9.6-29.6,20.8-29.6 c8,0,14.4,4.8,14.4,4.8l2.4-16.8c0,0-9.6-4-18.4-4c-18.4,0-36.8,16-36.8,46.4c0,20,9.6,33.6,28.8,33.6 C331.2,292.8,340,290.4,340,290.4z"/><path style="fill:#FFFFFF;" d="M116.8,227.2c-11.2,0-19.2,3.2-19.2,3.2L95.2,244c0,0,7.2-3.2,17.6-3.2c5.6,0,10.4,0.8,10.4,5.6 c0,3.2-0.8,4-0.8,4s-4.8,0-7.2,0c-13.6,0-28.8,5.6-28.8,24c0,14.4,9.6,17.6,15.2,17.6c11.2,0,16-7.2,16.8-7.2l-0.8,6.4H132l6.4-44 C138.4,228,122.4,227.2,116.8,227.2z M120,263.2c0,2.4-1.6,15.2-11.2,15.2c-4.8,0-6.4-4-6.4-6.4c0-4,2.4-9.6,14.4-9.6 C119.2,263.2,120,263.2,120,263.2z"/><path style="fill:#FFFFFF;" d="M153.6,292c4,0,24,0.8,24-20.8c0-20-19.2-16-19.2-24c0-4,3.2-5.6,8.8-5.6c2.4,0,11.2,0.8,11.2,0.8 l2.4-14.4c0,0-5.6-1.6-15.2-1.6c-12,0-24,4.8-24,20.8c0,18.4,20,16.8,20,24c0,4.8-5.6,5.6-9.6,5.6c-7.2,0-14.4-2.4-14.4-2.4 l-2.4,14.4C136,290.4,140,292,153.6,292z"/><path style="fill:#FFFFFF;" d="M472.8,214.4l-3.2,21.6c0,0-6.4-8-15.2-8c-14.4,0-27.2,17.6-27.2,38.4c0,12.8,6.4,26.4,20,26.4 c9.6,0,15.2-6.4,15.2-6.4l-0.8,5.6h16l12-76.8L472.8,214.4z M465.6,256.8c0,8.8-4,20-12.8,20c-5.6,0-8.8-4.8-8.8-12.8 c0-12.8,5.6-20.8,12.8-20.8C462.4,243.2,465.6,247.2,465.6,256.8z"/><path style="fill:#FFFFFF;" d="M29.6,291.2l9.6-57.6l1.6,57.6H52l20.8-57.6L64,291.2h16.8l12.8-76.8H67.2l-16,47.2l-0.8-47.2H27.2 l-12.8,76.8H29.6z"/><path style="fill:#FFFFFF;" d="M277.6,291.2c4.8-26.4,5.6-48,16.8-44c1.6-10.4,4-14.4,5.6-18.4c0,0-0.8,0-3.2,0 c-7.2,0-12.8,9.6-12.8,9.6l1.6-8.8h-15.2L260,292h17.6V291.2z"/><path style="fill:#FFFFFF;" d="M376.8,227.2c-11.2,0-19.2,3.2-19.2,3.2l-2.4,13.6c0,0,7.2-3.2,17.6-3.2c5.6,0,10.4,0.8,10.4,5.6 c0,3.2-0.8,4-0.8,4s-4.8,0-7.2,0c-13.6,0-28.8,5.6-28.8,24c0,14.4,9.6,17.6,15.2,17.6c11.2,0,16-7.2,16.8-7.2l-0.8,6.4H392l6.4-44 C399.2,228,382.4,227.2,376.8,227.2z M380.8,263.2c0,2.4-1.6,15.2-11.2,15.2c-4.8,0-6.4-4-6.4-6.4c0-4,2.4-9.6,14.4-9.6 C380,263.2,380,263.2,380.8,263.2z"/><path style="fill:#FFFFFF;" d="M412,291.2c4.8-26.4,5.6-48,16.8-44c1.6-10.4,4-14.4,5.6-18.4c0,0-0.8,0-3.2,0 c-7.2,0-12.8,9.6-12.8,9.6l1.6-8.8h-15.2L394.4,292H412V291.2z"/></g><g><path style="fill:#DCE5E5;" d="M180,279.2c0,9.6,5.6,13.6,12.8,13.6c5.6,0,10.4-1.6,12-2.4l2.4-13.6c-0.8,0-2.4,0.8-4,0.8 c-5.6,0-6.4-3.2-5.6-4.8l4.8-28h8.8l2.4-15.2h-8l1.6-9.6"/><path style="fill:#DCE5E5;" d="M218.4,264.8c0,22.4,7.2,28,20,28c12,0,16.8-2.4,16.8-2.4l3.2-15.2c0,0-8.8,4-16.8,4 c-17.6,0-14.4-12.8-14.4-12.8H260c0,0,2.4-10.4,2.4-14.4c0-10.4-5.6-23.2-23.2-23.2C222.4,227.2,218.4,244.8,218.4,264.8z M238.4,241.6c8.8,0,10.4,10.4,10.4,11.2H228C228,252,229.6,241.6,238.4,241.6z"/><path style="fill:#DCE5E5;" d="M340,290.4l3.2-17.6c0,0-8,4-13.6,4c-11.2,0-16-8.8-16-18.4c0-19.2,9.6-29.6,20.8-29.6 c8,0,14.4,4.8,14.4,4.8l2.4-16.8c0,0-9.6-4-18.4-4c-18.4,0-28.8,16-28.8,46.4c0,20,1.6,33.6,20.8,33.6 C331.2,292.8,340,290.4,340,290.4z"/><path style="fill:#DCE5E5;" d="M95.2,244.8c0,0,7.2-3.2,17.6-3.2c5.6,0,10.4,0.8,10.4,5.6c0,3.2-0.8,4-0.8,4s-4.8,0-7.2,0 c-13.6,0-28.8,5.6-28.8,24c0,14.4,9.6,17.6,15.2,17.6c11.2,0,16-7.2,16.8-7.2l-0.8,6.4H132l6.4-44c0-18.4-16-19.2-22.4-19.2 M128,263.2c0,2.4-9.6,15.2-19.2,15.2c-4.8,0-6.4-4-6.4-6.4c0-4,2.4-9.6,14.4-9.6C119.2,263.2,128,263.2,128,263.2z"/><path style="fill:#DCE5E5;" d="M136,290.4c0,0,4.8,1.6,18.4,1.6c4,0,24,0.8,24-20.8c0-20-19.2-16-19.2-24c0-4,3.2-5.6,8.8-5.6 c2.4,0,11.2,0.8,11.2,0.8l2.4-14.4c0,0-5.6-1.6-15.2-1.6c-12,0-16,4.8-16,20.8c0,18.4,12,16.8,12,24c0,4.8-5.6,5.6-9.6,5.6"/><path style="fill:#DCE5E5;" d="M469.6,236c0,0-6.4-8-15.2-8c-14.4,0-19.2,17.6-19.2,38.4c0,12.8-1.6,26.4,12,26.4 c9.6,0,15.2-6.4,15.2-6.4l-0.8,5.6h16l12-76.8 M468.8,256.8c0,8.8-7.2,20-16,20c-5.6,0-8.8-4.8-8.8-12.8c0-12.8,5.6-20.8,12.8-20.8 C462.4,243.2,468.8,247.2,468.8,256.8z"/><path style="fill:#DCE5E5;" d="M29.6,291.2l9.6-57.6l1.6,57.6H52l20.8-57.6L64,291.2h16.8l12.8-76.8h-20l-22.4,47.2l-0.8-47.2h-8.8 l-27.2,76.8H29.6z"/><path style="fill:#DCE5E5;" d="M260.8,291.2h16.8c4.8-26.4,5.6-48,16.8-44c1.6-10.4,4-14.4,5.6-18.4c0,0-0.8,0-3.2,0 c-7.2,0-12.8,9.6-12.8,9.6l1.6-8.8"/><path style="fill:#DCE5E5;" d="M355.2,244.8c0,0,7.2-3.2,17.6-3.2c5.6,0,10.4,0.8,10.4,5.6c0,3.2-0.8,4-0.8,4s-4.8,0-7.2,0 c-13.6,0-28.8,5.6-28.8,24c0,14.4,9.6,17.6,15.2,17.6c11.2,0,16-7.2,16.8-7.2l-0.8,6.4H392l6.4-44c0-18.4-16-19.2-22.4-19.2 M388,263.2c0,2.4-9.6,15.2-19.2,15.2c-4.8,0-6.4-4-6.4-6.4c0-4,2.4-9.6,14.4-9.6C380,263.2,388,263.2,388,263.2z"/><path style="fill:#DCE5E5;" d="M395.2,291.2H412c4.8-26.4,5.6-48,16.8-44c1.6-10.4,4-14.4,5.6-18.4c0,0-0.8,0-3.2,0 c-7.2,0-12.8,9.6-12.8,9.6l1.6-8.8"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
		
		</div>

		<div class="item-input-credicard input-dos">
				<ion-item style="padding:0;width:30%;margin-right:10px;">
					<ion-label color="primary" stacked>F. vencimiento</ion-label>      	
					<ion-datetime displayFormat="MM/YY" max="2030-10-31" [(ngModel)]="vencimiento" placeholder="10/22"></ion-datetime>										
					</ion-item>		

				<ion-item style="padding:0;width:30%;">
					<ion-label color="primary" stacked>C. seguridad</ion-label>      																	
					<ion-input [(ngModel)]="seguridad" type="number" placeholder="234" (input)="cambio($event.target.value)"></ion-input>
				</ion-item>		
		</div>
	</div>
</ion-content>


<ion-footer no-border *ngIf="credicard && vencimiento && seguridad">
<ion-toolbar class="toolbar-bottom">
	<button class="btn-default btn-1 btn-s-3" (click)="registrarCompra()" ion-button full>Comprar</button>
</ion-toolbar>
</ion-footer>