<ion-header>

  <ion-navbar>
    <ion-title>Entrega</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="primary" stacked>Dirección</ion-label>      
    <ion-input [(ngModel)]="direccion" clearInput="true" autocomplete="on" type="email" placeholder="Ejm: Calle de Las Musas"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label color="primary" stacked>Nº calle</ion-label>      
      <ion-input [(ngModel)]="calle" clearInput="true" autocomplete="on" type="number" placeholder="Ejm: 3453 (opcional)"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" stacked>Nº piso</ion-label>      
        <ion-input [(ngModel)]="piso" clearInput="true" autocomplete="on" type="email" placeholder="Ejm: 2A (opcional)"></ion-input>
      </ion-item>

  <div class="envio-box">
    <div class="envio-box-title">
      <span>Envio:</span>
    </div>
    <div class="envio-box-content">
      <span>Entrega a domicilio <span class="bold-i">(08:00 a 20:00)</span></span>
      <span>Entrega en dos días. Te llega el <span class="bold-i">{{tomorrow}}</span></span>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
    <ion-toolbar class="toolbar-bottom">
      <button [disabled]="!direccion" class="btn-default btn-1 btn-s-3" (click)="next()" ion-button full>Ir a pagar</button>
    </ion-toolbar>
  </ion-footer>