<div class="back">
  <svg (click)="navCtrl.pop()" class="back-btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
    <g>
      <g>
        <path d="M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12 C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084 c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864 l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z"
          fill="#FFFFFF" />
      </g>
    </g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
</div>

<ion-content fullscreen="true">

  <div class="detail-img-box">
    <img [src]="_DomSanitizer.bypassSecurityTrustUrl(producto?.imagen)" class="detail-img">
  </div>

  <div class="detail__principal">
    <span class="detail__principal-name">{{ producto?.nombre }}</span>
    <div class="detail__principal-money" style="margin-bottom:2px;">
      <div class="producto-item__price price-detail size-detail"> {{ producto?.precioParse }}</div>
      <div class="producto-item__discount discount-detail size-detail" *ngIf="producto.descuento > 0">{{ producto.descuentoParse }}</div>
    </div>
    <span class="precioanterior" style="justify-content:flex-start;">Antes {{ producto?.precioAnterior }}</span>
    
  </div>

  <div class="detail-other">
    <span class="detail-other-i">Hay
      <span class="detail-other-i-count">{{ producto?.stockActual }}</span> productos en stock</span>
    <span class="detail-other-i">Tiene
      <span class="detail-other-i-count">{{ producto?.garantia }}</span> meses de garantía</span>
  </div>


  <div class="list-types">

    <div class="list-types__item">
      <span class="list-types__item-tipo">Tipo</span>
      <span class="list-types__item-nombre">{{ producto?.tipo.nombre | limitartexto: 9 }}</span>
    </div>
    <div class="list-types__item">
      <span class="list-types__item-tipo">Marca</span>
      <span class="list-types__item-nombre">{{ producto?.marca.nombre | limitartexto: 9 }}</span>
    </div>

    <div class="list-types__item">
      <span class="list-types__item-tipo">Material</span>
      <span class="list-types__item-nombre">{{ producto?.material.nombre | limitartexto: 9 }}</span>
    </div>

    <div class="list-types__item" style="width:100%;">
      <span class="list-types__item-tipo">Recomendaciones</span>
      <span class="list-types__item-nombre">{{ producto?.recomendacion }}</span>
    </div>

  </div>

</ion-content>

<ion-footer no-border>
  <ion-toolbar class="toolbar-bottom">
    <div class="optiones-detalle">
      <div class="box-cantidad">
        <button class="btn-bag btn-detalle" (click)="mov(1)" [disabled]="producto.cantidad === 1">
          <ion-icon name="remove" ios="md-remove" md="md-remove"></ion-icon>
        </button>
        <span class="cantidad-bag" style="color:rgb(40, 40, 40);">{{ producto?.cantidad }}</span>
        <button class="btn-bag btn-detalle" (click)="mov(2)" [disabled]="producto.cantidad === producto.stockActual">
          <ion-icon name="add" ios="md-add" md="md-add"></ion-icon>
        </button>
      </div>
      <button (click)="addTocar()" class="btn-default btn-1 btn-s-3 btn-w-3" [ngClass]="{'btn-3': textTipoBtn === 'Quitar del carro' }" ion-button>{{ textTipoBtn }}</button>

    </div>
 
  </ion-toolbar>
</ion-footer>