$shadow-default: 0px 2px 20px 0px rgba(0, 0, 0, .16);


.detail {
    
    &-img {
        width: 100%;
        height: 100%;
    }



    &__principal {
        padding-left:16px;
        padding-right:16px;
        margin-bottom: 10px;
        margin-top: 5px;
        
        &-money {
            display: flex;
        }


        &-name {
            font-weight: 700;
            font-size: 26px;
            color: rgb(83, 83, 83); 
            line-height: 35px;
        }
    }

    
}


.price-detail {
    margin:0 !important;
}
.price-detail,
.discount-detail {
    font-size: 20px;
}

.discount-detail {
    margin-left: 5px;
}

.list-types {
    padding-left:15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;

    &__item  {
        display: flex;
        flex-direction: column;
        width: 33.33%;
        padding: 5px;
        font-size: 17px;

        &-tipo {
            color: rgb(210, 210, 210);
        }

        &-nombre {
            color: rgb(57, 57, 57);
        }
    }
}


.detail-other {
    padding-left:16px;
    padding-right:16px;
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-around;
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(57, 57, 57);
    
    &-i {

        &-count {
            font-size: 22px;
            font-weight: 700;
            color: rgb(44, 44, 44);
        }
    }
}

.back {
    height: 60px;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background:linear-gradient(to bottom, rgb(33, 33, 33), transparent);
    display: flex;
    align-items: center;
    padding-left: 10px;
    z-index: 1000;
    &-btn {
        width: 25px;
    }
}

.detail-img-box {
    height: 300px;
    position: relative;
}

.detail-img-box-btn {
    position: absolute;
    bottom: 10px;
    left:16px;
    font-size: 25px;
    padding: 7px 10px;
    background-color: white;
    box-shadow:  5px 5px 20px 5px rgba(0, 0, 0, .16);
    border-radius: 5px;
}

.optiones-detalle {
    width:100%;
    height: 56px;
    display: flex;
}

.box-cantidad {
    width:30%;
    display: flex;
    padding: 5px;
    background-color: white;
}

.btn-w-3 {
    width:70%;
}

.btn-detalle {
    height: 100%;
    background-color:#4e4e4e;
    color: #ffffff;
}

.size-detail {
    padding: 15px 10px;
    font-size:22px;
}