<ion-header>

  <ion-navbar>
    <ion-title>Mis productos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="error-msg">

    <span *ngIf="lista.length === 0">Vacío :(</span>
    <button class="btn-default btn-start-buy" (click)="navCtrl.pop()" *ngIf="lista.length === 0"> Comenzar a comprar </button>
  </div>

  <ion-list>


    <div class="item-container" *ngFor="let item of lista" (tab)="taB($event)" (swipe)="tapEvent($event,item)">


      <div class="item-bag" [ngClass]="{'active': item.tab }" (tab)="taB($event)" (swipe)="tapEvent($event,item)">
        <img [src]="_DomSanitizer.bypassSecurityTrustUrl(item.imagen)" class="producto-item__img img-bag" alt="">
        <div class="item-bag-details">
          <div class="item-bag-details-i">
            <div style="width:auto;" class="producto-item__shadow item-bag-details-nombre">
              <span>{{ item?.nombre | limitartexto: 12 }}</span>
            </div>
            <div class="producto-item__detail item-bag-details-precio">
              <div style="margin:0;" class="producto-item__price" [ngClass]="{'sdsdsds': item.descuento === 0}">{{ item?.precioParse }}</div>
              <div style="margin-left:5px;" class="producto-item__discount" *ngIf="item.descuento > 0">{{ item.descuentoParse }}</div>              
            </div>
            <span class="precioanterior" style="justify-content:flex-start;">Antes {{ item.precioAnterior }}</span>
            
          </div>
          <div class="item-bag-details-e">
            <button class="btn-bag" (click)="mov(item,1)" [disabled]="item.cantidad === 1">
              <ion-icon name="remove" ios="md-remove" md="md-remove"></ion-icon>
            </button>
            <span class="cantidad-bag">{{ item?.cantidad }}</span>
            <button class="btn-bag" (click)="mov(item,2)" [disabled]="item.cantidad === item.stockActual">
              <ion-icon name="add" ios="md-add" md="md-add"></ion-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="delete-item" [ngClass]="{'active': item.tab }">
          <button class="btn-delete" (click)="delete(item)">
              <ion-icon name="close" ios="md-close" md="md-close"></ion-icon>
          </button>
      </div>
    </div>


  </ion-list>
</ion-content>


<ion-footer no-border>
  <ion-toolbar class="toolbar-bottom">
    <button [disabled]="lista.length === 0" class="btn-default btn-1 btn-s-3" (click)="next()" ion-button full>Siguiente</button>
  </ion-toolbar>
</ion-footer>